
.header{
    padding: 10px 0;
    height: 50px;
    background: #000000;
}
.lift{
    float: left;
    margin: auto 3px;
    padding-left: 200px;
}
.target:hover{
    background-color: #53cd3a;
}
.target{
   text-align: center;
    color: white;
    font-size: 35px;
    height: 60px;
   margin: 0 30px 0 20px;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 172px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: lemonchiffon}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #53cd3a;
}
.content{
    background-color: white;
    height:100%;
    width:75%;
    float: right;
    }
.content h1{
    background: lightgray;
    text-align: left;
    width: 80%;
}
.filler{
    margin-bottom: 20px;
}
.filler td{
    background: white;
    width: 100%;
}
.btn{
    width: 100px;
    height: 30px;
    background: limegreen;
    font-size: 20px;
    border-radius: 10px;
}
.pic{
    width: 180px;
    height: 180px;
    margin-right: 70px;
    margin-bottom: 10px;
    display: block;
}
