.header{
    padding: 10px 0;
    height: 50px;
    background: #000000;
}
.lift{
    float: left;
    margin: auto 3px;
    padding-left: 200px;
}
.target:hover{
    background-color: #53cd3a;
}
.target{
    text-align: center;
    color: white;
    font-size: 35px;
    height: 60px;
    margin: 0 30px 0 20px;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 172px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: lemonchiffon}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #53cd3a;
}
.gg{
    width: 100%;
    background-color: white;
    position: absolute;
    top:65%;

}
.gg h1{
    text-align: center;
    font-size: 40px;
}
.footer{
    background-color:white;
    clear:both;
    text-align:left;
    position: absolute;
    top: 1300px;
}
aside{
    bottom: 10.4%;
    position: fixed;
    float: right;
    display: flow;
    margin-left: 90%;
}
aside button{
   border-radius: 8px;
    width: 70px;
    height: 70px;
}
.tubiao{
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 20%;
}
